

.first, .middle, .last {
    text-align: center;
    display: inline-block;
    background-color: black    
}

.posts-container{
    text-align: center;
}

.first img, .middle img, .last img{
    width: 25vw;
    margin: 2px;
    max-width: 200px;
}

@media (min-width: 1050px){
    .posts-container{
        margin-left: 250px;
    }
}
